body {
    background-color: #bec5c3;
}

.terms-container,
.privacy-policy-container {
    background-color: #495e57;
    color: #edefee;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
    margin: 40px auto;
}

.terms-container h2,
.privacy-policy-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #edefee;
}

.terms-container p,
.privacy-policy-container p {
    margin-bottom: 15px;
    font-size: 1em;
}

.terms-container p strong,
.privacy-policy-container p strong {
    font-weight: bold;
}
